.sidebar {
  width: 320px;
  height: 100vh;

  background: #081528;
  color: white;

  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.new-chat {
  width: 100%;
  padding: 15px;

  border: none;
  border-radius: 10px;

  background: #2563eb;
  color: white;
}

.history {
  margin-top: 30px;
}

.item {
  padding: 12px;
  margin-bottom: 10px;

  background: rgba(255,255,255,.08);

  border-radius: 10px;
}