/* Suppression des bordures bleues natives des navigateurs sur les inputs */
textarea:focus, input:focus {
  outline: none;
  box-shadow: none;
}

/* Customisation discrète de la scrollbar pour le style sombre */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #212121;
}

::-webkit-scrollbar-thumb {
  background: #373737;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}